<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">ToolRental Web</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Főoldal
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="customers">
                <span class="bi bi-people-fill-nav-menu" aria-hidden="true"></span> Ügyfelek
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="devices">
                <span class="bi bi-bicycle-nav-menu" aria-hidden="true"></span> Eszközök
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="rentals">
                <span class="bi bi-calendar-check-nav-menu" aria-hidden="true"></span> Bérlések
            </NavLink>
        </div>
    </nav>
</div>